doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    | &#x9;&#x9;
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    | &#x9;&#x9;
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title Electro - HTML Ecommerce Template
    // Google font
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,500,700', rel='stylesheet')
    // Bootstrap
    link(type='text/css', rel='stylesheet', href='css/bootstrap.min.css')
    // Slick
    link(type='text/css', rel='stylesheet', href='css/slick.css')
    |  &#x9;&#x9;
    link(type='text/css', rel='stylesheet', href='css/slick-theme.css')
    // nouislider
    link(type='text/css', rel='stylesheet', href='css/nouislider.min.css')
    // Font Awesome Icon
    link(rel='stylesheet', href='css/font-awesome.min.css')
    // Custom stlylesheet
    link(type='text/css', rel='stylesheet', href='css/style.css')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      |  &#x9;&#x9;  
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  | &#x9;
  body
    // HEADER
    header
    
      // MAIN HEADER
      #header
        // container
        .container
          // row
          .row
            // LOGO
            .col-md-3
              .header-logo
                a.logo(href='#')
                  img(src='./img/logo.png', alt='')
            // /LOGO
            // SEARCH BAR
            .col-md-6
              .header-search
                form(method="GET")
                  select.input-select
                    option(value='0') Ciudad
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    option(value='Zapopan') Zapopan
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    option(value='Guadalajara') Guadalajara
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  input.input(placeholder='Search here')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  button.search-btn() Buscar
            // /SEARCH BAR
            // ACCOUNT
            .col-md-3.clearfix
              .header-ctn
                // Wishlist
                div
                  a(href='#')
                    i.fa.fa-heart-o
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    span Your Wishlist
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    //.qty 0 // Add this class to add a quantity notif
                // /Wishlist
                // Cart
                .dropdown
                  a.dropdown-toggle(data-toggle='dropdown', aria-expanded='true')
                    i.fa.fa-shopping-cart
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    span Your Cart
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    // .qty 0
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .cart-dropdown
                    .cart-list
                      .product-widget
                        .product-img
                          img(src='./img/product01.png', alt='')
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        .product-body
                          h3.product-name
                            a(href='#') product name goes here
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          h4.product-price
                            span.qty 1x
                            | $980.00
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        button.delete
                          i.fa.fa-close
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      .product-widget
                        .product-img
                          img(src='./img/product02.png', alt='')
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        .product-body
                          h3.product-name
                            a(href='#') product name goes here
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          h4.product-price
                            span.qty 3x
                            | $980.00
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        button.delete
                          i.fa.fa-close
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .cart-summary
                      small 3 Item(s) selected
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      h5 SUBTOTAL: $2940.00
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .cart-btns
                      a(href='#') View Cart
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      a(href='#')
                        | Checkout  
                        i.fa.fa-arrow-circle-right
                // /Cart
                // Menu Toogle
                .menu-toggle
                  a(href='#')
                    i.fa.fa-bars
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    span Menu
                // /Menu Toogle
            // /ACCOUNT
          // row
        // container
      // /MAIN HEADER
    // /HEADER
    // NAVIGATION
    nav#navigation
      // container
      .container
        // responsive-nav
        #responsive-nav
          block sidebar
          // /NAV
        // /responsive-nav
      // /container
    // /NAVIGATION
    // BREADCRUMB
    #breadcrumb.section
      // container
      .container
        // row
        .row
          block navbar
      // /container
    // /BREADCRUMB
    // SECTION
    .section
      // container
      .container
        // row
        .row
        // /row
      block content
    // /SECTION
    // NEWSLETTER
    #newsletter.section
      // container
      .container
        // row
        .row
          .col-md-12
            .newsletter
              p
                | Aplica con nosotros como autor o tienda
                
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              form(method="POST")
                input.input(type='email', placeholder='Enter Your Email', name='email')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                button.newsletter-btn
                  i.fa.fa-envelope
                  |  Contactarnos
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              ul.newsletter-follow
                li
                  a(href='#')
                    i.fa.fa-facebook
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(href='#')
                    i.fa.fa-twitter
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(href='#')
                    i.fa.fa-instagram
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(href='#')
                    i.fa.fa-pinterest
        // /row
      // /container
    // /NEWSLETTER
    // FOOTER
    footer#footer
      // top footer
      .section
        // container
        .container
          // row
          .row
            .col-md-3.col-xs-6
              .footer
                h3.footer-title About Us
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul.footer-links
                  li
                    a(href='#')
                      i.fa.fa-map-marker
                      | 1734 Stonecoal Road
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#')
                      i.fa.fa-phone
                      | +021-95-51-84
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#')
                      i.fa.fa-envelope-o
                      | email@email.com
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .col-md-3.col-xs-6
              .footer
                h3.footer-title Categories
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul.footer-links
                  li
                    a(href='#') Hot deals
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#') Laptops
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#') Smartphones
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#') Cameras
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#') Accessories
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .clearfix.visible-xs
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .col-md-3.col-xs-6
              .footer
                h3.footer-title Information
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul.footer-links
                  li
                    a(href='#') About Us
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#') Contact Us
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#') Privacy Policy
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#') Orders and Returns
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#') Terms &amp; Conditions
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .col-md-3.col-xs-6
              .footer
                h3.footer-title Service
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul.footer-links
                  li
                    a(href='#') My Account
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#') View Cart
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#') Wishlist
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#') Track My Order
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#') Help
          // /row
        // /container
      // /top footer
      
      #bottom-footer.section
        .container
          // row
          .row
            .col-md-12.text-center
              ul.footer-payments
                li
                  a(href='#')
                    i.fa.fa-cc-visa
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(href='#')
                    i.fa.fa-credit-card
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(href='#')
                    i.fa.fa-cc-paypal
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(href='#')
                    i.fa.fa-cc-mastercard
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(href='#')
                    i.fa.fa-cc-discover
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(href='#')
                    i.fa.fa-cc-amex
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              span.copyright
                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                | Copyright &copy;
                script.
                  document.write(new Date().getFullYear());
                |  All rights reserved | This template is made with 
                i.fa.fa-heart-o(aria-hidden='true')
                |  by 
                a(href='https://colorlib.com', target='_blank') Colorlib
                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
          // /row
        // /container
      // /bottom footer
    // /FOOTER
    // jQuery Plugins
    script(src='js/jquery.min.js')
    | &#x9;&#x9;
    script(src='js/bootstrap.min.js')
    | &#x9;&#x9;
    script(src='js/slick.min.js')
    | &#x9;&#x9;
    script(src='js/nouislider.min.js')
    | &#x9;&#x9;
    script(src='js/jquery.zoom.min.js')
    | &#x9;&#x9;
    script(src='js/main.js')